<table class="table">
    <tr>
        <th>account/name</th>
        <th>actual</th>
    </tr>
    @foreach (var item in ViewBag.Total)
    {
    <tr>
        <td>@item.Key</td>
        <td>@item.Value</td>

    </tr>
    }
</table>
<table class="table">
    <tr>
        <th>No</th>
        <th>month</th>
        <th>date</th>
        <th>account/name</th>
        <th>project</th>
        <th>plan</th>
        <th>actual</th>
        <th></th>
        <th>aprroved by</th>
        <th>reason</th>
    </tr>
    @foreach (var item in ViewBag.Data2019)
    {
        <tr>
            @foreach (var meti in item)
            {
                <td>@meti</td>
            }
    </tr>
    }
</table>