<style>
    .table-dark {
        color: #fff;
        background-color: #343a40;
    }
</style>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Account</th>
            <th scope="col" colspan="3">Nghỉ phép</th>
            <th scope="col" colspan="3">Nghỉ bù OT(Hour)</th>
            <th scope="col">Nghỉ ốm có giấy BH (30d)</th>
            <th scope="col">Nghỉ kết hôn (3d)</th>
            <th scope="col">Nghỉ khám thai (5d)</th>
            <th scope="col">Nghỉ chăm con < 3t ốm (20d)</th>
            <th scope="col">Nghỉ chăm con (3-7 tuổi) ốm (15d)</th>
            <th scope="col">Nghỉ tang (1-3d)</th>
            <th scope="col">Nghỉ ko lương (30d)</th>
            

        </tr>
        <tr>
            <th scope="col">#</th>
            <th scope="col"></th>
            <th scope="col">Số ngày</th>
            <th scope="col">Đã nghỉ</th>
            <th scope="col">Còn lại</th>
            <th scope="col">Số ngày</th>
            <th scope="col">Đã nghỉ</th>
            <th scope="col">Còn lại</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
            <td>13</td>
            <td>14</td>

        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
            <td>13</td>
            <td>14</td>

        </tr>

    </tbody>
</table>